#소스코드 {
  width:500px;
  height:500px;
  border:1px blue solid;
  z-index=2;

  font-family:'Malgun Gothic';
  font-size:13px;
  font-weight: normal;

  line-height:20px !important;
  white-space:pre;
  color : gray;
  caret-color: black;

  overflow:scroll;

  -moz-tab-size : 4;
    -o-tab-size : 4;
       tab-size : 4;
}

#표시화면 {
  position:absolute;
  border: 1px red solid;
  zindex=1;

  width:0px;
  height:0px;

  padding-top : 4px;
  padding-left : 2px;

  padding-bottom: 485px;
  padding-right : 425px;
  pointer-events: none;

  font-family:'Malgun Gothic';
  font-size:13px;
  line-height: 20px;
  white-space:pre;

  overflow:hidden;

  -moz-tab-size : 4;
    -o-tab-size : 4;
       tab-size : 4;
}

#입력 {
   width:300px;
   height:100px;

   overflow:auto;
   white-space: nowrap;
   font-weight: normal;
}

#출력 {
  border:1px #A9A9A9 solid;

  width:300px;
  height:300px;

  white-space : pre;
  font-weight : bold;

  overflow : auto;
  resize: both;
  background-color: #EBEBE4;
}

.ReservedWord_Blue {
  color : blue;
  font-weight: bold;
}

.ReservedWord_Purple {
  color : purple;
  font-weight: bold;
}

.ReservedWord_Green {
  color : green;
  font-weight: bold;
}
