#유저코드 {
  width:500px;
  height:300px;

  white-space:pre;

  overflow:auto;
  overflow-y:scroll;

  -moz-tab-size : 4;
    -o-tab-size : 4;
       tab-size : 4;
}

#가려진textarea {
  width:500px;
  height:500px;

  white-space:pre;

  -moz-tab-size : 4;
    -o-tab-size : 4;
       tab-size : 4;
}

#입력박스 {
   width:300px;
   height:100px;
}

#출력박스 {
  width:300px;
  height:300px;
}

.ReservedWord {
  color : blue;
}
