#소스코드 {
  width:500px;
  height:500px;
  /*border:1px blue solid;*/

  font-family:'Malgun Gothic';
  font-size:13px;
  font-weight: normal;

  line-height:20px !important;
  letter-spacing: 1px;

  white-space:pre;
  color : gray;
  caret-color: black;

  overflow:scroll;

  -moz-tab-size : 4;
    -o-tab-size : 4;
       tab-size : 4;
}

#표시화면 {
  position:absolute;
  /*border: 1px red solid;*/

  width:0px;
  height:0px;

  padding-top : 4px;
  padding-left : 2px;
  padding-bottom: 485px;
  padding-right : 425px;

  pointer-events: none;
  white-space:pre;

  font-family:'Malgun Gothic';
  font-size:13px;
  letter-spacing: 1px;
  line-height: 20px;

  overflow:hidden;

  -moz-tab-size : 4;
    -o-tab-size : 4;
       tab-size : 4;
}

#입력 {
   width:300px;
   height:100px;

   overflow:auto;
   white-space: nowrap;

   font-weight: normal;
   letter-spacing: 1px;
}

#출력 {
  border:1px #A9A9A9 solid;
  background-color: #EBEBE4;

  width:300px;
  height:300px;

  overflow : auto;
  white-space : pre;
  resize: both;

  font-weight : bold;
  letter-spacing: 1px;
}

.ReservedWord_Blue {
  color : blue;
  font-weight: bold;
}

.ReservedWord_Purple {
  color : purple;
  font-weight: bold;
}

.ReservedWord_Green {
  color : green;
  font-weight: bold;
}

.ReservedWord_Orange {
  color : orange;
  font-weight: bold;
}
