.예제t {
  width:120px;
  height:100px;
  border : 3px solid gray;
  border-collapse: collapse;
  margin-right : 50px;
  margin-bottom: 50px;
  font-family:'Malgun Gothic';
}

.문제  {
  display:table-cell;
  margin-right:50px;
}
.제출코딩 {
  display:table-cell;
  margin-right:50px;
}

.예제 {
  display:table-cell;
}

.예제t th {
  border : 1px solid gray;
  text-align: left;
  font-size: 20px;
  padding-left:10px
}
.예제t td {
  border : 1px solid gray;
  font-size:15px;
  padding-left:10px
}
