<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../jquery-3.3.1.js"></script>

  <link href="./problems.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

  <script>
    var 문제번호 = 1;
    var 채점_수 = 10;
    var 채점_데이터 = ["0 0", "1 2", "9 9", "279 93", "2349 93941",
                  "-1 0", "0 -1", "-1 -1", "111 -93", "-93 247"];
    var 채점_데이터_결과 = [0, 3, 18, 372, 96290, -1, -1, -2, 18, 154];
    var 채점_결과 = [false, false, false, false, false, false, false, false, false, false];
  </script>
  <script src="./marking.js"></script>
</head>
<body style="margin:20px;margin-left:40px">
  <table>
    <tr>
      <td>
        <section class="문제">
          <h1>1번 문제.</h1><br>
          두 정수를 입력받아 그 합을 출력하시오.

          <br><br><br>

          예제 1.
          <span class="예제"><table class="예제t">
            <tr>
              <th>입력</th>
            </tr>
            <tr>
              <td>5 10</td>
            </tr>
          </table></span>

          <span class="예제"><table class="예제t">
            <tr>
              <th>출력</th>
            </tr>
            <tr>
              <td>15</td>
            </tr>
          </table></span>

          <br><br>

          예제 2.
          <span class="예제"><table class="예제t">
            <tr>
              <th>입력</th>
            </tr>
            <tr>
              <td>12 -3</td>
            </tr>
          </table></span>

          <span class="예제"><table class="예제t">
            <tr>
              <th>출력</th>
            </tr>
            <tr>
              <td>9</td>
            </tr>
          </table></span>

          <br><br>
          <button id="제출" class="btn btn-info btn-lg" style="margin-left:150px">코드 제출하기</button>
        </section>
      </td>
      <td>
        <section class="제출코딩">
          <iframe id="프레임" src="../Coding/Cedu_Coding.html" width="950px" height="650px"></iframe>
        </section>
      </td>
    </tr>
  </table>
</body>
</html>
