<!DOCTYPE html>
<html>
<head>
  <script src="../static/js/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="../static/css/cedu_question_list.css" />
</head>
<body>
  <table id="문제리스트">
    <tr>
      <th width="50px">번호</th>
      <th width="400px">문제명</th>
      <th width="120px">난이도</th>
      <th width="100px">제출 횟수</th>
      <th width="100px">맞은 횟수</th>
      <th width="100px">틀린 횟수</th>
      <th width="100px">정답률</th>
    </tr>
    {% for question in question_list %}
      <tr>
          <td>{{ question['문제번호'] }}</td>
          <td><a href="question/{{ question['문제번호'] }}">{{ question['문제명'] }}</a></td>
          <td>{{ question['난이도'] }}</td>
          <td>{{ question['제출횟수'] }}</td>
          <td>{{ question['맞은횟수'] }}</td>
          <td>{{ question['틀린횟수'] }}</td>
          <td>{{ question['정답률'] }}</td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>
